<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sneaker Shop - Shop</title>
</head>
<body>
    <header>
        <h1>Sneaker Shop</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="#" onclick="filterSneakers('new')">New Releases</a></li>
                <li><a href="#" onclick="filterSneakers('sale')">Sale</a></li>
                <li><input type="text" id="search-input" placeholder="Search Sneakers..." />
                <button id="search-button">Search</button></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Shop Sneakers</h2>
        <div id="product-grid" class="row">
           
        </div>
    </div>

    <footer>
        <p>© 2024 Sneaker Shop. All rights reserved.</p>
    </footer>

    <div class="cart">
        <h5>Cart</h5>
        <ul id="cart-list"></ul>
        <p id="total-price">Total: $0</p>
        <br>
        <button id="cartButton" class="btn btn-dark btn-flat p-2">
            <i class="buttoncart">Pay Now</i>
        </button>
    </div>

    <script src="script.js"></script>
</body>
</html>

